@tailwind base;
@tailwind components;
@tailwind utilities;

.w-470 {
  width: 470px;
}

.custom-padding {
  padding-top: 15px;
}

.padding-left {
  padding-left: 15px;
}

.padding-67 {
  padding-top: 67px;
}

.league-container {
  border: 1px solid #D9D9D9;
  width: 350px;
  height: 90px;
}

.w-18 {
  width: 23px;
}

.h-18 {
  width: 23px;
}

.logo-padding {
  padding-right:86px;
}

.left-padding-logo {
  padding-left:110px;
}

.is-live {
  width: 15px;
  height: 35px;
  border-radius: 3px;
  background: #F0010F;
}

.navbar-line {
  border-bottom: 1px solid #D9D9D9;  
}