@tailwind base;
@tailwind components;
@tailwind utilities;

.w-470 {
  width: 470px;
}

.custom-padding {
  padding-top: 15px;
}

.padding-left {
  padding-left: 15px;
}

.padding-67 {
  padding-top: 67px;
}

.league-container {
  border: 1px solid #D9D9D9;
  width: 350px;
  height: 90px;
}

.w-18 {
  width: 23px;
}

.h-18 {
  width: 23px;
}

.logo-padding {
  padding-right:86px;
}

.left-padding-logo {
  padding-left:110px;
}

.is-live {
  width: 15px;
  height: 35px;
  border-radius: 3px;
  background: #F0010F;
}

.navbar-line {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
  border-bottom: 1px solid #D9D9D9;  
}

.sidebar-button-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px; 
  border-radius: 8px; 
}

.sidebar-button-container:hover {
  background-color: #D9D9D9;
  cursor: pointer; 
}

.body-blurred {
  opacity: 0.5; 
}

.close-button:hover {
  background-color: #D9D9D9;
  transform: scale(1.2);
  cursor: pointer;
}

.navbar-container {
  z-index: 999;
}
